body{
    margin:0px;
    padding: 0px;
    font-family: poppins;
    background-color: rgba(151,151,151,0.03);
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    border:1px solid rgba(0,0,0,0.04);
    background-color: #000000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
.logo img{
    height: 85px;
}
nav .menu{
    display: flex;
}
nav .menu li a{
    height: 40px;
    line-height: 43px;
    margin: 0px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    color:#585858;
    letter-spacing: 1px;



}
.search{
    width:250px;
    height: 40px;
    background-color: rgba(245,245,245,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0px 20px;
}
.search input{
    width:100%;
    height: 30px;
    border:none;
    outline: none;
    background-color: transparent;
}
.search i{
    color:#3a3a3a;
}
nav .menu li a:hover{
    background-color: #242424;
    color:#000000;
    box-shadow: 5px 10px 30px rgba(53,53,53,0.1);
    transition: all ease 0.2s;


/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }


}
#main{
    padding-top: 80px;
    background-color: #ffffff;



}

.showcase-box{
    width:1700px;
    height: 950px;
    box-shadow: 5px 15px 30px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin:20px 20px 10px 20px;
    overflow: hidden;
}
.showcase-box img{
    width:10%;
    height: 10%;
    object-fit: cover;
    object-position: top;
}
.showcase-heading{
    padding-left: 100px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #1a1a1a;
}
.cs-hidden{
    overflow: visible !important;
}
#latest{
    border-top: 1px solid rgba(53,53,53,0.1);
}
.latest-heading{
    margin: 30px 30px 0px 30px;
    font-weight: 500;
    font-size: 1.3rem;
}
.latest-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    margin: 20px 10px;
    border-radius: 10px;
    overflow:hidden;
    width:200px;
    background-color: #ffffff;
}
.latest-b-img{
    width:150%;
    height: 70px;
}
.latest-b-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.latest-b-text strong{
    color:#3a3a3a;
    margin: 4px;
}
.latest-b-text{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
.latest-b-text p{
    color:#979797;
    margin: 0px;
}
.movies-heading h2{
    font-weight: 900;
    margin: 45px;
    padding: 5px 20px;
    background-color: rgba(0,0,0,0.01);
    border: 1px solid rgba(0,0,0,0.06);
    font-size: 1.7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
}
.movies-heading{
    display: flex;
    margin:93px 2%;
}
.movies-box{
    width:300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.2);
    margin: 20px;
    border-radius: 55px;
    overflow: hidden;
    border-top: 3px solid;
}
.movies-img{
    width:100%;
    height: 500px;
    position: relative;
}
.movies-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.movies-box a{
    text-align:center;
    display: block;
    font-weight: 700;
    display: -webkit-box;
    max-width: 80%;
    -webkit-line-clamp: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #3a3a3a;
    margin: 20px;
}
.movies-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.2s;
}
#movies-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


$optionDefaultColours: #ED5565,#FC6E51,#FFCE54,#2ECC71,#5D9CEC,#AC92EC;

body {
   display:flex;
   flex-direction:row;
   justify-content:center;
   align-items:center;
   overflow:hidden;
   height:100vh;
   
   font-family: 'Roboto', sans-serif;
   transition:.25s;
   @include dark {
      background: #232223;
      color:white;
   }
   .credit {
      position: absolute;
      bottom:20px;
      left:20px;
      
      color:inherit;
   }
   .options {
      display:flex;
      flex-direction:row;
      align-items:stretch;
      overflow:hidden;

      min-width:600px;
      max-width:900px;
      width:calc(100% - 100px);
      
      height:400px;
      
      @for $i from 1 through 4 {
         @media screen and (max-width:798px - $i*80) {
            min-width:600px - $i*80;
            .option:nth-child(#{6-$i}) {
               display:none;
            }
         }
      }
      
      .option {
         position: relative;
         overflow:hidden;

         min-width:60px;
         margin:10px;
         //border:0px solid --defaultColor;

         background:var(--optionBackground, var(--defaultBackground, #E6E9ED));
         background-size:auto 120%;
         background-position:center;

         cursor: pointer;

         transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);

         @for $i from 1 through length($optionDefaultColours) {
            &:nth-child(#{$i}) {
               --defaultBackground:#{nth($optionDefaultColours, $i)};
            }
         }
         &.active {
            flex-grow:10000;
            transform:scale(1);
            
            max-width:600px;
            margin:0px;
            border-radius:40px;
            
            background-size:auto 100%;
            .shadow {
               box-shadow:inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
            }
            .label {
               bottom:20px;
               left:20px;
               .info >div {
                  left:0px;
                  opacity:1; 
               }
            }
            /*&:active {
               transform:scale(0.9);
            }*/
         }
         &:not(.active) {
            flex-grow:1;
            
            border-radius:30px;
            .shadow {
               bottom:-40px;
               box-shadow:inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
            }
            .label {
               bottom:10px;
               left:10px;
               .info >div {
                  left:20px;
                  opacity:0;
               }
            }
         }
         .shadow {
            position: absolute;
            bottom:0px;
            left:0px;
            right:0px;
            
            height:120px;
            
            transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
         }
         .label {
            display:flex;
            position: absolute;
            right:0px;

            height:40px;
            transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
            .icon {
               display:flex;
               flex-direction:row;
               justify-content:center;
               align-items:center;
               
               min-width:40px;
               max-width:40px;
               height:40px;
               border-radius:100%;

               background-color:white;
               color:var(--defaultBackground);
            }
            .info {
               display:flex;
               flex-direction:column;
               justify-content:center;
               
               margin-left:10px;
               
               color:white;
               
               white-space: pre;
               >div {
                  position: relative;
                  
                  transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity .5s ease-out;
               }
               .main {
                  font-weight:bold;
                  font-size:1.2rem;
               }
               .sub {
                  transition-delay:.1s;
               }
            }
         }
      }
   }
}

.quality{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1f1f1f;
    color: #ffffff;
    padding: 5px 20px;
    font-weight: 500;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.4);
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btns a{
    width: 130px;
    height: 40px;
    border:none;
    outline: none;
    color: #ffffff;
    background-color: #3963f0;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.btns a:hover{
    background-color: #284fd1;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,0.1);
 
}
footer p{
    color:#5e5e5e;
    margin: 10px 0px;
    font-size: 0.9rem;
}
nav .menu-btn{
    display: none;
}
@media(max-width:1100px){
    nav{
        justify-content: space-between;
        height: 70px;
        padding: 0px 10px;
    }
    nav .menu{
       display: none;
        position: absolute;
        top: 65px;
        left: 0px;
        background: #fff;
        border-bottom:4px solid #242424;
        width:100%;
        padding:0px;
        margin:0px;
    }
    .menu li{
        width:100%;
    }
    nav .menu li a{
        width: 100%;
        height: 40px;
        align-items: center;
        margin: 0px;
        padding:25px;
        border:1px solid rgba(38,38,38,0.03);
    }
 
    nav .menu-icon{
        cursor: pointer;
        float: right;
        padding:28px 20px;
        position: relative;
        user-select: none;
        display: block;
    }
    nav .menu-icon .nav-icon{
        background-color: #333333;
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width: 18px;
    }
    nav .menu-icon .nav-icon:before,
    nav .menu-icon .nav-icon:after{
        background: #333333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all ease-out 0.2s;
        width: 100%;
    }
    nav .menu-icon .nav-icon:before{
        top:5px;
    }
    nav .menu-icon .nav-icon:after{
        top:-5px;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon{
        background: transparent;
 
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
        transform: rotate(-45deg);
        top: 0;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
        transform: rotate(45deg);
        top: 0;
    }
    nav .menu-btn{
        display: none;
    }
    nav .menu-btn:checked ~ .menu{
        display: block;
    }
}
@media(max-width:680px){
    .showcase-box{
        max-width: 300px;
        height: 180px;
        margin: 10px;
    }
    .latest-box{
        width:190px;
        margin: 20px 5px;
    }
    .movies-box{
        flex-direction: row;
        width:90%;
        border: 1px solid rgba(0,0,0,0.2);
    }
    .movies-box a{
        width:95%;
    }
    footer{
        justify-content: space-between;
        padding:0px 20px;
        text-align: center;
    }
}
@media(max-width:440px){
    .movies-box a,.movies-box{
        width: 100%;
    }
    .movies-box{
        flex-direction: column;
    }
    .logo img{
        height: 30px;
    }
    .search{
        width: 90%;
        height: 40px;
    }
}
